# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log

# Build output
build/
dist/

# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# OS files
.DS_Store
Thumbs.db

# Env files
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# Frontend
/frontend/node_modules/
/frontend/build/
/frontend/.cache/

# Backend
/backend/node_modules/

# Misc
coverage/
